a{
    text-decoration: none;
    color: rgba(76, 88, 102, 1);
}
h1{
    font-family: Roboto;
font-size: 60px;
font-weight: 400;
line-height: 60px;
text-align: left;
color: rgba(76, 88, 102, 1);

}
p{
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: rgba(133, 133, 155, 1);
}
.container{
    width: 1440px;
    height:4900px;
}
.header_main{
    border-bottom:1px solid rgba(221, 221, 221, 1);
}
.process_page{
    background: #EBEBEB;
}
.companies{
    background: #EBEBEB;
}